<!-- <div class="gradGreen">
  <div class="subheader"><span class="header">GBGA</span></div>
  <div class="subheader" style="padding-bottom:10px;">GAUER BOARMAN GOLF ASSOCIATION</div>
</div> -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/players">Players</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/schedule">Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/aftergolf">AfterGolf</a>
    </li> -->
  </ul>
  
  <router-outlet></router-outlet>
  <!-- <container-component>Loading. . .</container-component> -->